.container{
    margin-top: 5%;
    padding-left: 5%;
    background-image: linear-gradient(pink,white, gray);
}
footer{
    position: fixed;
        bottom: 0;
        width: 100%;
        height: 5%;


}