.container{
    margin-top: 5%;
    padding-left: 5%;
    background-image: linear-gradient(teal,white, gray);
    box-sizing: border-box;
}
footer{
    position: center;
        bottom: 0;
        width: 100%;
        height: 5%;


}nav ul{
        float; right: ;
}